.wbsNav {
  padding: 0 1rem;
  /* display: flex;
  justify-content: space-between; */

  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 1px solid #ffd977;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 3fr 1fr;

    padding: 0 4rem;
    max-width: 1600px;
    margin: 0 auto;
  }
}
.header__logo {
}
.logo-img {
  width: 80px;
}
.wbsNav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wbsNav__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 2rem;
  }
}
.wbsNav__link {
  display: block;
  padding: 0.5rem 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(14, 14, 14);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  @media screen and (min-width: 1200px) {
    padding: 2rem 0;
  }
}
.wbsNav__link:hover,
.wbsNav__link:focus {
  color: green;
}
.wbs--current-link {
  color: green;
}

.log_open_btn {
  width: 80px;
  height: 40px;
  justify-self: end;
  align-self: center;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  outline: transparent;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.15);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;

  @media screen and (min-width: 1200px) {
    height: 60px;
  }
  @include transitions(background-color, border-color);
  &:hover,
  &:focus {
    background-color: green;
    border-color: green;
  }
}
/* --- Hero --- */
.hero {
  max-width: 1600px;
  /* height: 600px; */
  margin: 3rem auto 0;
  padding: 110px 0px 200px 80px;
  background-size: cover;
  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./Images/ganna/food.jpg);
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    padding: 160px 0px 180px 190px;
  }
}

.hero-title {
  color: white;
  font-family: "Pacifico";
  font-size: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 80px;
  }
}
.title--first {
}
.title--sec {
  margin-left: 70px;
  @media screen and (min-width: 1200px) {
    margin-left: 150px;
  }
}
/*---- Section -----*/
/* border-top: 1px solid #ffd977; */
.wbsSectionMain {
  padding: 6rem 1rem;
  @media screen and (min-width: 1200px) {
    padding: 6rem 0;
    max-width: 1600px;
    margin: 0 auto;
  }
}
.wbsLine {
  border-bottom: 1px solid #ffd977;
  margin-bottom: 4rem;
  /* max-width: 1600px; */
}
/* ----- Carousel ------  */
.wbsCarousel-wrp {
  max-width: 1200px;
  margin: 0 auto;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
}
.wbsSectionMain-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 50px;
  font-family: "Frank Ruhl Libre", serif;
}
.carousel {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 800px;
  }
}
.carousel-inner {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ---- footer ----  */
.wbsFooter {
  padding: 3rem 0px;

  display: flex;
  flex-direction: column;
  border-top: 1px solid #ffd977;
}
.wbsFooter__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @media screen and (min-width: 1200px) {
    margin-bottom: 3rem;
    flex-direction: row;
    align-items: start;
    width: 100%;
    justify-content: space-around;
    max-width: 1600px;
  }
}
.wbsFooter__soc-list-text {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  @media screen and (min-width: 1200px) {
    margin-bottom: 2rem;
  }
}
.wbsFooter__soc-list {
  margin-bottom: 2rem;
}
.wbsFooter__text-first {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.wbsFooter__text-sec {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.wbsSoc-list {
  display: flex;
}
.wbsSoc-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}
.wbsSoc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #b5460f;
  fill: white;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbsSoc-list__link:hover,
.wbsSoc-list__link:focus {
  background-color: rgb(0, 128, 0);
}
.wbsSoc-list__icon {
}
.wbsFooter__mail {
}
.wbsFooter-form {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.wbsFooter-form__imput {
  width: 300px;

  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  padding-left: 0.875rem;
  height: 48px;
  background-color: transparent;
  outline: transparent;
  color: rgba(255, 255, 255, 1);
  border: solid 1px #cce3e3;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  @media screen and (min-width: 768px) {
    margin-right: 1rem;
  }

  /* @include desktop {
    width: 292px;
  } */
}
.wbsFooter-form__imput:focus,
.wbsFooter-form__imput:hover {
  box-shadow: 0 0 0.1rem 0.05rem #b35f4d;
}
.wbsFooter-form__btn {
  color: black;
  height: 46px;
  width: 90px;

  font-variant: small-caps;
  border-radius: 4px;
  background-color: #177;
  color: white;
  outline: transparent;
  border: solid 1px #cce3e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
}
.wbsFooter-form__btn:focus,
.wbsFooter-form__btn:hover {
  background-color: #004d4d;
}

.wbsCopyright {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
/* --- Modal --- */
.modal-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
}
.form-auth__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-auth__lable {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;
}
.form-auth__input {
  padding-left: 1rem;
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.5);
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    height: 40px;
  }

  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-auth__input:focus,
.form-auth__input:hover {
  border-color: rgba(0, 128, 0, 0.687);
}
.form-auth__box-button-form {
  margin-bottom: 3rem;
  width: 80px;
  height: 60px;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  outline: transparent;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.15);
}
.form-auth__box-button-form:hover,
.form-auth__box-button-form:focus {
  background-color: green;
  border-color: green;
}
.form-auth__btn-submit {
  margin-bottom: 3rem;
  width: 80px;
  height: 60px;
  background-color: rgba(0, 128, 0, 0.8);
  border: 1px solid rgba(0, 128, 0, 0.8);
  color: white;
  outline: transparent;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.15);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  @media screen and (min-width: 768px) {
    height: 40px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-auth__btn-submit:hover,
.form-auth__btn-submit:focus {
  background-color: green;
  border-color: green;
}
.form-auth__registrate {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.title-question-user {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
}
.form-auth__button-reg {
  color: green;
  width: 180px;
  height: 30px;
  background-color: white;
  outline: transparent;
  border-radius: 5px;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.form-auth__button-reg:hover,
.form-auth__button-reg:focus {
  box-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green, 0 0 100px green;
}
.modal-header {
  border-bottom: 1px solid transparent;
}
.modal-body {
  padding: 1rem 2rem;
}
.modal-footer {
  flex-direction: column;
  border-top: 1px solid transparent;
}
