.wbsNav {
  padding: 2rem;
  outline: 1px solid red;
}
.wbsNav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wbsNav-item {
}
.wbsNav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbsNav__link:hover,
.wbsNav__link:focus {
  color: green;
}
.wbs--current-link {
  color: green;
}
